<div class="col-md-12">
  <div class="group">
    <%= link_to("Add a job", new_admin_job_path, class:"btn btn-primary pull-right") %>
  </div>

  <table class="table table-boldered table-striped custab">
    <thead>
      <tr>
        <th>Title</th>
        <th>Resume_Count</th>
        <th>Wage_Lower_Bound</th>
        <th>Wage_Upper_Bound</th>
        <th>Option</th>
        <th>UPdated_at</th>
      </tr>
    </thead>

    <tbody>
    <%= render :partial => "job_item", :collection => @jobs, :as => :job %>

    </tbody>
  </table>
</div>
